## Multiple Linear Regression

### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

/home/jimil/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jimil/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jimil/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

### Load the data

In [6]:
data = pd.read_csv('sat_random.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head()

   HS GPA  SAT Score  Random
0     3.4       1270       1
1     4.0       1220       2
2     3.8       1160       3
3     3.8        950       1
4     4.0       1070       2

### Creating the regression

In [9]:
y = data['HS GPA']
x1 = data[['SAT Score', 'Random']]

In [10]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()

In [11]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 HS GPA   R-squared:                       0.185
Model:                            OLS   Adj. R-squared:                  0.183
Method:                 Least Squares   F-statistic:                     112.9
Date:                Mon, 06 Jan 2020   Prob (F-statistic):           6.58e-45
Time:                        15:32:21   Log-Likelihood:                -704.91
No. Observations:                1000   AIC:                             1416.
Df Residuals:                     997   BIC:                             1431.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.5203      0.120     12.675      0.000       1.285       1.756
SAT Score      0.0016      0.000     15.022      0.000       0.001       0.002
Random        -0.0012      0.019     -0.062      0.950      -0.038       0.036
==============================================================================
Omnibus:                       21.672   Durbin-Watson:                   1.763
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.772
Skew:                          -0.226   Prob(JB):                     0.000228
Kurtosis:                       2.555   Cond. No.                     8.08e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.08e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [15]:
x

     const  SAT Score  Random
0      1.0       1270       1
1      1.0       1220       2
2      1.0       1160       3
3      1.0        950       1
4      1.0       1070       2
5      1.0       1110       3
6      1.0       1220       1
7      1.0       1150       2
8      1.0       1440       3
9      1.0        850       1
10     1.0       1280       2
11     1.0       1020       3
12     1.0        880       1
13     1.0       1080       2
14     1.0       1200       3
15     1.0       1120       1
16     1.0        970       2
17     1.0       1210       3
18     1.0       1030       1
19     1.0       1020       2
20     1.0       1400       3
21     1.0        720       1
22     1.0       1170       2
23     1.0       1070       3
24     1.0        860       1
25     1.0        920       2
26     1.0       1350       3
27     1.0        910       1
28     1.0        980       2
29     1.0        800       3
..     ...        ...     ...
970    1.0        860       2
971    1.0        950       3
972    1.0       1050       1
973    1.0       1160       2
974    1.0        740       3
975    1.0       1030       1
976    1.0       1020       2
977    1.0        910       3
978    1.0        980       1
979    1.0        890       2
980    1.0        700       3
981    1.0        970       1
982    1.0       1130       2
983    1.0       1100       3
984    1.0        880       1
985    1.0       1190       2
986    1.0       1180       3
987    1.0        990       1
988    1.0       1020       2
989    1.0       1060       3
990    1.0       1010       1
991    1.0       1410       2
992    1.0        880       3
993    1.0       1140       1
994    1.0       1040       2
995    1.0       1000       3
996    1.0       1080       1
997    1.0       1140       2
998    1.0       1200       3
999    1.0        930       1

[1000 rows x 3 columns]

### Making Predictions

In [16]:
new_data = pd.DataFrame({'const':1,'SAT':[1700,1670],'Random':[1,3]})
new_data = new_data[['const','SAT','Random']]
new_data

   const   SAT  Random
0      1  1700       1
1      1  1670       3

In [17]:
predictions = results.predict(new_data)
predictions

0    4.292576
1    4.241267
dtype: float64